.Makeover{
    background-color: rgba(241, 100, 142, 0.993);
    color:aliceblue;
    padding-top: 0%;
}
.Makeover:Hover{
    cursor: pointer;
    color: lavenderblush;
}
.Makeover ul li{
    display:inline-block;
    padding:20px;
    font-size: 1.4em;

}
.Makeover ul li:hover{
color:lemonchiffon;
}