.Home{
    background-color: chocolate;
    display: flex;
    /* padding:10px; */
    
    border-width: 2px solid brown;
    
}
.Home h1{
    text-align: center;
    margin-right: 10px;
    margin-left:200px;
}
.Home img{
    margin-left: 150px;
}
